.landing-page .rectangle-3 {
  background: url('../assets/images/rectangle_3.png') 50% / cover no-repeat;
  width: 90.8px;
  height: 60px;
}
.navbar img{
  height:40px;
  margin-left:60px;
}
.landing-page .our-services {
  margin-bottom: 4px;
  text-decoration: none;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 15px;
  color: #000000;
}
.landing-page .rectangle-4 {
  border-radius: 10px;
  background: #B00000;
  margin: 0 11.4px 0 12px;
  width: 72px;
  height: 2px;
}
.landing-page .container-23 {
  margin: 19px 0 12px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.landing-page .about {
  margin-right: 11.5px;
  width: 68.5px;
  text-decoration: none;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 15px;
  color: #000000;
}
.landing-page .blog-news {
  overflow-wrap: break-word;
  text-decoration: none;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 15px;
  color: #000000;
}
.landing-page .contact {
  margin-right: 0px;
  overflow-wrap: break-word;
  text-decoration: none;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 15px;
  margin-left: 20px;
  color: #000000;
}
.landing-page .container-25 {
  margin: 19px 0 18px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 265.4px;
  height: fit-content;
  box-sizing: border-box;
}
.landing-page .account {
  margin: 11px 31px 0 0;
  display: inline-block;
  text-decoration: none;
  
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 15px;
  color: #000000;
}
.landing-page .rectangle-5 {
  background: #DAD8D8;
  margin: 14px 31.8px 1px 0;
  width: 1px;
  height: 19px;
}
.landing-page .vector-38 {
  width: 16.6px;
  height: 16.6px;
}
.landing-page .phone {
  margin: 15.7px 7.7px 1.7px 0;
  display: flex;
  width: 16.6px;
  height: 16.6px;
  box-sizing: border-box;
}
.landing-page .container-6 {
  margin-top: 16px;
  text-decoration: none;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 16px;
  line-height: 0.938;
  color: #000000;
}
.landing-page .container-11 {
  margin: 8px 0 18px 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.landing-page .navbar {
  margin: 0 112px 80px 112px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 1147.5px;
  box-sizing: border-box;
}
.landing-page .hosting {
  margin-right: 11.5px;
  width: 70.5px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 15px;
  color: #B00000;
}
.landing-page .domain {
  margin-right: 18.7px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 15px;
  color: rgba(214, 212, 212, 0.88);
}
.landing-page .seo {
  margin-right: 11.5px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 15px;
  color: rgba(214, 212, 212, 0.88);
}
.landing-page .email {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 15px;
  color: rgba(214, 212, 212, 0.88);
}
.landing-page .container-30 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.landing-page .container-6 {
  margin-bottom: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 247.2px;
  box-sizing: border-box;
  
}
.landing-page .rectangle-7 {
  background: #B00000;
  width: 47px;
  height: 1px;
}
.landing-page .container-33 {
  background: #E5E5E5;
  position: relative;
  margin: 0 3.2px 0 2px;
  padding: 0 3px;
  width: 242px;
  height: 1px;
  box-sizing: border-box;
}
.landing-page .bread-crunch {
  margin-bottom: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  width: 247.2px;
  box-sizing: border-box;
  
}
.landing-page .premium {
  margin-bottom: 33px;
  font-family: 'Poppins';
  font-weight: 700;
  width: 300px;
  font-size: 64px;
  line-height: 77.5px;
  color: var(--text-title, #2E2E2E);
}
.landing-page .blazing {
  margin-bottom: 32px;
  width: 420px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.8px;
  line-height: 1.75;
  color: var(--text-body, #808080);
}
.landing-page .create-an-account {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  width: 140px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  color: var(--text-white, #FFFFFF);
}
.landing-page .button-1 {
  box-shadow: 0px 0px 64px 0px rgba(176, 0, 0, 0.3);
  border-radius: 8px;
  background: #B00000;
  height: 60px;
  margin-right: 24px;
  display: flex;
  padding: 12px 14.2px 12px 13.5px;
  box-sizing: border-box;
}
.landing-page .choose-your-plan {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  
  
}
.landing-page .button-22 {
  border-radius: 8px;
  border: 2px solid rgb(2, 2, 25);
  display: flex;
  width: 180px;
  text-decoration: none;
  
  height: 60px;
  padding: 11px 17.5px 11px 17px;
  box-sizing: border-box;
}
.landing-page .container-37 {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.landing-page .container-1 {
  margin: 0 135.7px 37px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  
}
.landing-page .rectangle-22 {
  background: url('../assets/images/rectangle_22.jpeg') 50% / cover no-repeat;
  position: absolute;
  margin-left: 400px;
  width: 501px;
  height: 504px;
}
.landing-page .elements {
  position: absolute;
  left: 120%;
  bottom: 41px;
  translate: -50% 0;
  width: 1000px;
  height: 400px;
}
.landing-page .group-6 {
  position: relative;
  margin-top: 17px;
  display: flex;
  padding: 0 25px 0 26px;
  width: 552px;
  height: 504px;
  box-sizing: border-box;
}
.landing-page .hero {
  margin: 0 113px 79px 112px;
  display: flex;
  flex-direction: row;
  width: max-content;
  box-sizing: border-box;
  
}
.landing-page .count-number {
  position: relative;
  margin: 0 32px 8px 0;
  display: inline-block;
  width: 600px;
  overflow-wrap: break-word;
  font-family: var(--heading-h-2-font-family, 'Inter');
  font-weight: var(--heading-h-2-font-weight, 800);
  font-size: var(--heading-h-2-font-size, 48px);
  line-height: var(--heading-h-2-line-height, 1.333);
  color: var(--text-gray-900, #18191F);
}
.landing-page .cpanel-orange-rgb-1 {
  background: url('../assets/images/cpanel_orange_rgb_1.png') 50% / cover no-repeat;
  margin: 25px 0 17px 0;
  width: 140.7px;
  height: 30px;
  margin-right: 60px;
}
.landing-page .secured-by-imunify-360-green-1 {
  background: url('../assets/images/secured_by_imunify_360_green_1.png') 50% / cover no-repeat;
  margin-top: 22px;
  width: 125.4px;
  height: 50px;
  margin-right: 60px;

}
.landing-page .group {
  margin-right: 5px;
  width: 22.9px;
  height: 50.9px;
  margin-right: 2px;
}
.landing-page .vector-32 {
  margin: 11.4px 0 13.5px 0;
  width: 89.5px;
  height: 26px;
  
}
.landing-page .litespeed-logo-1 {
  margin: 19.3px 0 1.8px 0;
  display: flex;
  flex-direction: row;
  width: 117.4px;
  height: fit-content;
  box-sizing: border-box;
  margin-right: 150px;
}
.landing-page .container-28 {
  margin: 0 22.1px 42px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1261.9px;
  box-sizing: border-box;
}
.landing-page .rectangle-11 {
  background: url('../assets/images/rectangle_11.png') 50% / cover no-repeat;
  margin-right: 10px;
  width: 120px;
  height:30px;
  
}
.landing-page .rectangle-12 {
  background: url('../assets/images/rectangle_12.png') 50% / cover no-repeat;
  margin: 13px 20px 23px 0;
  width: 168px;
  height: 56px;
  
}
.landing-page .rectangle-13 {
  background: url('../assets/images/rectangle_13.png') 50% / cover no-repeat;
  margin: 13px 0 32px 0;
  width: 143px;
  height: 47px;
  margin-right: 100px;
}
.landing-page .container-21 {
  margin-bottom: 118px;
  display: flex;
  flex-direction: row;
  width: 613px;
  box-sizing: border-box;
  margin-right: 60px;
}
.landing-page .icn-11 {
  margin: 0 0 12px 9px;
  width: 101px;
  height: 100px;
}
.landing-page .uptime-1 {
  margin: 0 0 4px 9.4px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 20px;
  color: #000000;
}
.landing-page .uptime-des {
  text-align: center;
  width: 280px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 12px;
  color: #000000;
}
.landing-page .uptime {
  margin: 5px 53.1px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.landing-page .icon {
  width: 100px;
  height: 100px;
}
.landing-page .frame-1 {
  margin: 0 0 17px 7.9px;
  display: flex;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
}


.landing-page .sd{
  display: flex;
  flex-direction: column;
  
}
.landing-page .container-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.landing-page .container-14 {
  margin: 0 52.1px 0 44.1px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.landing-page .container-13 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}
.landing-page .true {
  position: absolute;
  left: 0px;
  width: 500px;
  top: 55px;
  
  font-family: var(--lead-lead-1-font-family, 'Inter');
  font-weight: var(--lead-lead-1-font-weight, 400);
  font-size: var(--lead-lead-1-font-size, 18px);
  line-height: var(--lead-lead-1-line-height, 1.778);
  color: var(--text-gray-900, #18191F);
}
.landing-page .why-us {
  position: relative;
  margin: 0 82px 133px 74px;
  display: flex;
  box-sizing: border-box;
}
.landing-page .ready-to-get-started-with-lemon-wares {
  margin: 0 66.3px 38px 66.3px;
  display: inline-block;
  align-self: flex-end;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 50px;
  line-height: 1.2;
  color: #000000;
}
.landing-page .choose-the-package-that-suits-you {
  margin: 0 0 57px 32px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 25px;
  line-height: 1;
  color: #000000;
}
.landing-page .monthly {
  margin: 11px 31.1px 14px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 25px;
  line-height: 1;
  color: #000000;
}
.landing-page .ellipse-1 {
  border-radius: 15px;
  background: #FFFFFF;
  width: 30px;
  height: 30px;
}
.landing-page .container-20 {
  border-radius: 73px;
  background: #B00000;
  position: relative;
  margin-right: 26.2px;
  padding: 10px 9px;
  width: 93px;
  height: 50px;
  box-sizing: border-box;
}
.landing-page .yearly {
  margin: 11px 17.2px 14px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 25px;
  line-height: 1;
  color: #000000;
}
.landing-page .discount {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 10px;
  line-height: 0.9;
  color: #000000;
}
.landing-page .container {
  border-radius: 8px;
  background: #FFE87A;
  position: relative;
  margin: 12px 0 14px 0;
  display: flex;
  padding: 7px 8.9px 8px 8.9px;
  box-sizing: border-box;
}
.landing-page .container-35 {
  margin: 0 0 70px 114.1px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.landing-page .basic {
  margin: 1px 20px 0 0;
  display: inline-block;
  width: 394.7px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  line-height: 1.333;
  color: #000000;
}
.landing-page .premium {
  margin: 0 0px 1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 64px;
  line-height: 1.333;
  color: #000000;
  width: 500px;
}
.landing-page .container-29 {
  margin: 0 0 6px 31.3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 554.7px;
  box-sizing: border-box;
}
.landing-page .rectangle-20 {
  background: #B00000;
  width: 443px;
  height: 4px;
}
.landing-page .container-22 {
  background: #C4C4C4;
  position: relative;
  width: 856px;
  height: 4px;
  box-sizing: border-box;
}
.landing-page .price-header {
  margin: 0 1px 85px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.landing-page .starter {
  margin: 0 133px 11px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 28px;
  line-height: 0.893;
  color: #000000;
}
.landing-page .with-all-your-customers-via-all-conversation-channels-in-one-central-dashboard {
  margin: 0 7px 28px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #000000;
}
.landing-page .container-2 {
  margin: 0 0 11px 250px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 42px;
  line-height: 0.762;
  color: #000000;
}
.landing-page .per-month {
  margin: 0 145px 35px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 14px;
  line-height: 1;
  color: #000000;
}
.landing-page .choose-this-plan {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 14px;
  line-height: 2.286;
  color: #000000;
}
.landing-page .container-19 {
  border-radius: 12px;
  border: 2px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 35px;
  display: flex;
  align-self: flex-end;
  padding: 9px 4px 9px 0;
  width: 235px;
  box-sizing: border-box;
}
.landing-page .vector-41 {
  width: 17.4px;
  height: 12.1px;
}
.landing-page .checkmark {
  margin: 7.3px 0 4.6px 0;
  display: flex;
  width: 17.4px;
  height: 12.1px;
  box-sizing: border-box;
}
.landing-page .gb-ssd {
  overflow-wrap: break-word;
  font-family: var(--heading-bold-heading-616-px-font-family, 'Inter');
  font-weight: var(--heading-bold-heading-616-px-font-weight, 700);
  font-size: var(--heading-bold-heading-616-px-font-size, 16px);
  line-height: var(--heading-bold-heading-616-px-line-height, 1.5);
  color: var(--text-body, #808080);
}
.landing-page .list {
  margin: 0 99px 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 123.4px;
  box-sizing: border-box;
}
.landing-page .vector-42 {
  width: 17.4px;
  height: 12.1px;
}
.landing-page .checkmark-1 {
  margin: 7.3px 0 4.6px 0;
  display: flex;
  width: 17.4px;
  height: 12.1px;
  box-sizing: border-box;
}
.landing-page .gb-bandwidth {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-body, #808080);
}
.landing-page .list-1 {
  margin: 0 49.5px 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 172.9px;
  box-sizing: border-box;
}
.landing-page .vector-43 {
  width: 17.4px;
  height: 12.1px;
}
.landing-page .checkmark-2 {
  margin: 7.3px 0 4.6px 0;
  display: flex;
  width: 17.4px;
  height: 12.1px;
  box-sizing: border-box;
}
.landing-page .email-accounts {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-body, #808080);
}
.landing-page .list-2 {
  margin: 0 36.6px 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 185.8px;
  box-sizing: border-box;
}
.landing-page .vector-44 {
  width: 17.4px;
  height: 12.1px;
}
.landing-page .checkmark-3 {
  margin: 7.3px 0 4.6px 0;
  display: flex;
  width: 17.4px;
  height: 12.1px;
  box-sizing: border-box;
}
.landing-page .unlimited-database {
  overflow-wrap: break-word;
  font-family: var(--heading-bold-heading-616-px-font-family, 'Inter');
  font-weight: var(--heading-bold-heading-616-px-font-weight, 700);
  font-size: var(--heading-bold-heading-616-px-font-size, 16px);
  line-height: var(--heading-bold-heading-616-px-line-height, 1.5);
  color: var(--text-body, #808080);
}
.landing-page .list-3 {
  margin: 0 24.5px 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 198px;
  box-sizing: border-box;
}
.landing-page .vector-45 {
  width: 17.4px;
  height: 12.1px;
}
.landing-page .checkmark-4 {
  margin: 7.3px 0 4.6px 0;
  display: flex;
  width: 17.4px;
  height: 12.1px;
  box-sizing: border-box;
}
.landing-page .subdomains {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-body, #808080);
}
.landing-page .list-4 {
  margin: 0 66.8px 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 155.6px;
  box-sizing: border-box;
}
.landing-page .vector-46 {
  width: 17.4px;
  height: 12.1px;
}
.landing-page .checkmark-5 {
  margin: 7.3px 0 4.6px 0;
  display: flex;
  width: 17.4px;
  height: 12.1px;
  box-sizing: border-box;
}
.landing-page .parked-domain {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-body, #808080);
}
.landing-page .list-5 {
  margin: 0 49.3px 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 173.1px;
  box-sizing: border-box;
}
.landing-page .vector-47 {
  width: 17.4px;
  height: 12.1px;
}
.landing-page .checkmark-6 {
  margin: 7.3px 0 4.6px 0;
  display: flex;
  width: 17.4px;
  height: 12.1px;
  box-sizing: border-box;
}
.landing-page .websites {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-body, #808080);
}
.landing-page .list-6 {
  margin: 0 91.8px 18px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 130.6px;
  box-sizing: border-box;
}
.landing-page .vector {
  margin: 7.3px 0 4.6px 0;
  width: 17.4px;
  height: 12.1px;
}
.landing-page .free-ssl {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-body, #808080);
}
.landing-page .container-17 {
  margin: 0 109.7px 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 112.7px;
  box-sizing: border-box;
}
.landing-page .vector-48 {
  width: 17.4px;
  height: 12.1px;
}
.landing-page .checkmark-7 {
  margin: 7.3px 0 4.6px 0;
  display: flex;
  width: 17.4px;
  height: 12.1px;
  box-sizing: border-box;
}
.landing-page .softaculous {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-body, #808080);
}
.landing-page .container-9 {
  margin-right: 84.9px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 137.5px;
  box-sizing: border-box;
}
.landing-page .price-field {
  box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  border: 1.5px solid #C4C4C4;
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 34px 29px 48px 29px;
  width: 299px;
  box-sizing: border-box;
}
.landing-page .standard {
  margin: 0 95.3px 11px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 28px;
  line-height: 0.893;
  color: #000000;
}
.landing-page .with-all-your-customers-via-all-conversation-channels-in-one-central-dashboard-1 {
  margin: 0 7px 28px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #000000;
}
.landing-page .container-3 {
  margin: 0 107.6px 11px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 42px;
  line-height: 0.762;
  color: #000000;
}
.landing-page .per-month-1 {
  margin: 0 145px 35px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 14px;
  line-height: 1;
  color: #000000;
}
.landing-page .choose-this-plan-1 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 14px;
  line-height: 2.286;
  color: #000000;
}
.landing-page .container-34 {
  border-radius: 12px;
  border: 2px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 35px;
  display: flex;
  align-self: flex-end;
  padding: 9px 4px 9px 0;
  width: 235px;
  box-sizing: border-box;
}
.landing-page .vector-49 {
  width: 17.4px;
  height: 12.1px;
}
.landing-page .checkmark-8 {
  margin: 7.3px 0 4.6px 0;
  display: flex;
  width: 17.4px;
  height: 12.1px;
  box-sizing: border-box;
}
.landing-page .gb-ssd-1 {
  overflow-wrap: break-word;
  font-family: var(--heading-bold-heading-616-px-font-family, 'Inter');
  font-weight: var(--heading-bold-heading-616-px-font-weight, 700);
  font-size: var(--heading-bold-heading-616-px-font-size, 16px);
  line-height: var(--heading-bold-heading-616-px-line-height, 1.5);
  color: var(--text-body, #808080);
}
.landing-page .list-7 {
  margin: 0 99px 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 123.4px;
  box-sizing: border-box;
}
.landing-page .vector-50 {
  width: 17.4px;
  height: 12.1px;
}
.landing-page .checkmark-9 {
  margin: 7.3px 0 4.6px 0;
  display: flex;
  width: 17.4px;
  height: 12.1px;
  box-sizing: border-box;
}
.landing-page .gb-bandwidth-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-body, #808080);
}
.landing-page .list-8 {
  margin: 0 49.5px 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 172.9px;
  box-sizing: border-box;
}
.landing-page .vector-51 {
  width: 17.4px;
  height: 12.1px;
}
.landing-page .checkmark-10 {
  margin: 7.3px 0 4.6px 0;
  display: flex;
  width: 17.4px;
  height: 12.1px;
  box-sizing: border-box;
}
.landing-page .email-accounts-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-body, #808080);
}
.landing-page .list-9 {
  margin: 0 36.6px 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 185.8px;
  box-sizing: border-box;
}
.landing-page .vector-52 {
  width: 17.4px;
  height: 12.1px;
}
.landing-page .checkmark-11 {
  margin: 7.3px 0 4.6px 0;
  display: flex;
  width: 17.4px;
  height: 12.1px;
  box-sizing: border-box;
}
.landing-page .unlimited-database-1 {
  overflow-wrap: break-word;
  font-family: var(--heading-bold-heading-616-px-font-family, 'Inter');
  font-weight: var(--heading-bold-heading-616-px-font-weight, 700);
  font-size: var(--heading-bold-heading-616-px-font-size, 16px);
  line-height: var(--heading-bold-heading-616-px-line-height, 1.5);
  color: var(--text-body, #808080);
}
.landing-page .list-10 {
  margin: 0 24.5px 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 198px;
  box-sizing: border-box;
}
.landing-page .vector-53 {
  width: 17.4px;
  height: 12.1px;
}
.landing-page .checkmark-12 {
  margin: 7.3px 0 4.6px 0;
  display: flex;
  width: 17.4px;
  height: 12.1px;
  box-sizing: border-box;
}
.landing-page .subdomains-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-body, #808080);
}
.landing-page .list-11 {
  margin: 0 66.8px 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 155.6px;
  box-sizing: border-box;
}
.landing-page .vector-54 {
  width: 17.4px;
  height: 12.1px;
}
.landing-page .checkmark-13 {
  margin: 7.3px 0 4.6px 0;
  display: flex;
  width: 17.4px;
  height: 12.1px;
  box-sizing: border-box;
}
.landing-page .parked-domain-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-body, #808080);
}
.landing-page .list-12 {
  margin: 0 49.3px 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 173.1px;
  box-sizing: border-box;
}
.landing-page .vector-55 {
  width: 17.4px;
  height: 12.1px;
}
.landing-page .checkmark-14 {
  margin: 7.3px 0 4.6px 0;
  display: flex;
  width: 17.4px;
  height: 12.1px;
  box-sizing: border-box;
}
.landing-page .websites-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-body, #808080);
}
.landing-page .list-13 {
  margin: 0 91.8px 18px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 130.6px;
  box-sizing: border-box;
}
.landing-page .vector-1 {
  margin: 7.3px 0 4.6px 0;
  width: 17.4px;
  height: 12.1px;
}
.landing-page .free-ssl-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-body, #808080);
}
.landing-page .container-4 {
  margin: 0 0 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 120px;
  box-sizing: border-box;
}
.landing-page .vector-56 {
  width: 17.4px;
  height: 12.1px;
}
.landing-page .checkmark-15 {
  margin: 7.3px 0 4.6px 0;
  display: flex;
  width: 17.4px;
  height: 12.1px;
  box-sizing: border-box;
}
.landing-page .softaculous-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-body, #808080);
}
.landing-page .container-16 {
  margin-right: 84.9px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 137.5px;
  box-sizing: border-box;
}
.landing-page .price-field-1 {
  box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  border: 1.5px solid #C4C4C4;
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 34px 29px 48px 29px;
  width: 299px;
  box-sizing: border-box;
}
.landing-page .suprem {
  margin: 0 118.5px 11px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 28px;
  line-height: 0.893;
  color: #000000;
}
.landing-page .with-all-your-customers-via-all-conversation-channels-in-one-central-dashboard-2 {
  margin: 0 7px 28px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #000000;
}
.landing-page .container-4 {
  margin: 0 101.3px 11px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 42px;
  line-height: 0.762;
  color: #000000;
}
.landing-page .per-month-2 {
  margin: 0 145px 35px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 14px;
  line-height: 1;
  color: #000000;
}
.landing-page .choose-this-plan-2 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 14px;
  line-height: 2.286;
  color: #000000;
}
.landing-page .container-26 {
  border-radius: 12px;
  border: 2px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 35px;
  display: flex;
  align-self: flex-end;
  padding: 9px 4px 9px 0;
  width: 235px;
  box-sizing: border-box;
}
.landing-page .vector-57 {
  width: 17.4px;
  height: 12.1px;
}
.landing-page .checkmark-16 {
  margin: 7.3px 0 4.6px 0;
  display: flex;
  width: 17.4px;
  height: 12.1px;
  box-sizing: border-box;
}
.landing-page .gb-ssd-2 {
  overflow-wrap: break-word;
  font-family: var(--heading-bold-heading-616-px-font-family, 'Inter');
  font-weight: var(--heading-bold-heading-616-px-font-weight, 700);
  font-size: var(--heading-bold-heading-616-px-font-size, 16px);
  line-height: var(--heading-bold-heading-616-px-line-height, 1.5);
  color: var(--text-body, #808080);
}
.landing-page .list-14 {
  margin: 0 99px 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 123.4px;
  box-sizing: border-box;
}
.landing-page .vector-58 {
  width: 17.4px;
  height: 12.1px;
}
.landing-page .checkmark-17 {
  margin: 7.3px 0 4.6px 0;
  display: flex;
  width: 17.4px;
  height: 12.1px;
  box-sizing: border-box;
}
.landing-page .gb-bandwidth-2 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-body, #808080);
}
.landing-page .list-15 {
  margin: 0 49.5px 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 172.9px;
  box-sizing: border-box;
}
.landing-page .vector-59 {
  width: 17.4px;
  height: 12.1px;
}
.landing-page .checkmark-18 {
  margin: 7.3px 0 4.6px 0;
  display: flex;
  width: 17.4px;
  height: 12.1px;
  box-sizing: border-box;
}
.landing-page .email-accounts-2 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-body, #808080);
}
.landing-page .list-16 {
  margin: 0 36.6px 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 185.8px;
  box-sizing: border-box;
}
.landing-page .vector-60 {
  width: 17.4px;
  height: 12.1px;
}
.landing-page .checkmark-19 {
  margin: 7.3px 0 4.6px 0;
  display: flex;
  width: 17.4px;
  height: 12.1px;
  box-sizing: border-box;
}
.landing-page .unlimited-database-2 {
  overflow-wrap: break-word;
  font-family: var(--heading-bold-heading-616-px-font-family, 'Inter');
  font-weight: var(--heading-bold-heading-616-px-font-weight, 700);
  font-size: var(--heading-bold-heading-616-px-font-size, 16px);
  line-height: var(--heading-bold-heading-616-px-line-height, 1.5);
  color: var(--text-body, #808080);
}
.landing-page .list-17 {
  margin: 0 24.5px 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 198px;
  box-sizing: border-box;
}
.landing-page .vector-61 {
  width: 17.4px;
  height: 12.1px;
}
.landing-page .checkmark-20 {
  margin: 7.3px 0 4.6px 0;
  display: flex;
  width: 17.4px;
  height: 12.1px;
  box-sizing: border-box;
}
.landing-page .subdomains-2 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-body, #808080);
}
.landing-page .list-18 {
  margin: 0 66.8px 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 155.6px;
  box-sizing: border-box;
}
.landing-page .vector-62 {
  width: 17.4px;
  height: 12.1px;
}
.landing-page .checkmark-21 {
  margin: 7.3px 0 4.6px 0;
  display: flex;
  width: 17.4px;
  height: 12.1px;
  box-sizing: border-box;
}
.landing-page .parked-domain-2 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-body, #808080);
}
.landing-page .list-19 {
  margin: 0 49.3px 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 173.1px;
  box-sizing: border-box;
}
.landing-page .vector-63 {
  width: 17.4px;
  height: 12.1px;
}
.landing-page .checkmark-22 {
  margin: 7.3px 0 4.6px 0;
  display: flex;
  width: 17.4px;
  height: 12.1px;
  box-sizing: border-box;
}
.landing-page .websites-2 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-body, #808080);
}
.landing-page .list-20 {
  margin: 0 91.8px 18px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 130.6px;
  box-sizing: border-box;
}
.landing-page .vector-2 {
  margin: 7.3px 0 4.6px 0;
  width: 17.4px;
  height: 12.1px;
}
.landing-page .free-ssl-2 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-body, #808080);
}
.landing-page .container-31 {
  margin: 0 109.7px 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 112.7px;
  box-sizing: border-box;
}
.landing-page .vector-64 {
  width: 17.4px;
  height: 12.1px;
}
.landing-page .checkmark-23 {
  margin: 7.3px 0 4.6px 0;
  display: flex;
  width: 17.4px;
  height: 12.1px;
  box-sizing: border-box;
}
.landing-page .softaculous-2 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-body, #808080);
}
.landing-page .container-3 {
  margin-right: 84.9px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 137.5px;
  box-sizing: border-box;
}
.landing-page .price-field-2 {
  box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  border: 1.5px solid #C4C4C4;
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 34px 29px 48px 29px;
  width: 299px;
  box-sizing: border-box;
}
.landing-page .container-32 {
  display: flex;
  flex-direction: row;
  column-gap: 100px;
  width: 1097px;
  box-sizing: border-box;
}
.landing-page .pricing {
  margin: 0 1px 105px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 1097px;
  box-sizing: border-box;
}
.landing-page .container-7 {
  width: 142.4px;
  height: 120px;
}
.landing-page .quote-mark-2 {
  opacity: 0.3;
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  padding-right: 0.6px;
  width: 143px;
  height: 120px;
  box-sizing: border-box;
}
.landing-page .section-title {
  overflow-wrap: break-word;
  font-family: var(--heading-h-2-font-family, 'Inter');
  font-weight: var(--heading-h-2-font-weight, 800);
  font-size: var(--heading-h-2-font-size, 48px);
  line-height: var(--heading-h-2-line-height, 1.333);
  color: var(--text-gray-900, #18191F);
}
.landing-page .section-heading-1 {
  position: relative;
  margin: 0 39.9px 8px 0;
  display: flex;
  box-sizing: border-box;
}
.landing-page .description {
  overflow-wrap: break-word;
  font-family: var(--lead-lead-1-font-family, 'Inter');
  font-weight: var(--lead-lead-1-font-weight, 400);
  font-size: var(--lead-lead-1-font-size, 18px);
  line-height: var(--lead-lead-1-line-height, 1.778);
  color: var(--text-gray-900, #18191F);
}
.landing-page .section-heading {
  margin-bottom: 24px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.landing-page .container-1 {
  width: 15.9px;
  height: 14px;
}
.landing-page .quote-mark-1 {
  opacity: 0.3;
  margin: 0 16px 254px 0;
  display: flex;
  padding-right: 0.1px;
  width: 16px;
  height: 14px;
  box-sizing: border-box;
}
.landing-page .feedback-1 {
  margin-bottom: 24px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--body-16-px-regular-font-family, 'Inter');
  font-weight: var(--body-16-px-regular-font-weight, 400);
  font-size: var(--body-16-px-regular-font-size, 16px);
  line-height: var(--body-16-px-regular-line-height, 2);
  color: #000000;
}
.landing-page .floyd-miles {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--subtitle-subtitle-1-font-family, 'Inter');
  font-weight: var(--subtitle-subtitle-1-font-weight, 700);
  font-size: var(--subtitle-subtitle-1-font-size, 18px);
  line-height: var(--subtitle-subtitle-1-line-height, 1.556);
  color: var(--text-gray-900, #18191F);
}
.landing-page .vice-president-cli {
  overflow-wrap: break-word;
  font-family: var(--lead-lead-2-font-family, 'Inter');
  font-weight: var(--lead-lead-2-font-weight, 500);
  font-size: var(--lead-lead-2-font-size, 14px);
  line-height: var(--lead-lead-2-line-height, 1.714);
  color: var(--text-gray-700, #969BAB);
}
.landing-page .person-details-1 {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.landing-page .feedback-person-details-1 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.landing-page .content {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.landing-page .crypto-learn-invest-bw-oyl-3-g-9-g-1-y-9-n-29-md-6-xkfxpgebbw-87-gdfbb-0-h-0-u-1-ci-682 {
  background: url('../assets/images/crypto_learn_invest_bw_oyl_3_g_9_g_1_y_9_n_29_md_6_xkfxpgebbw_87_gdfbb_0_h_0_u_1_ci_681.png') 50% / cover no-repeat;
  position: absolute;
  left: 64px;
  top: 7px;
  width: 120px;
  height: 120px;
}
.landing-page .testimonial-3 {
  box-shadow: var(--dark-shadow, 0px 10px 20px 0px rgba(41, 41, 42, 0.07));
  border-radius: 8px;
  background: var(--default-white, #FFFFFF);
  position: relative;
  align-self: flex-end;
  padding: 104px 32px 96px 32px;
  width: fit-content;
  box-sizing: border-box;
}
.landing-page .container-7 {
  margin: 0 30px 36px 0;
  display: flex;
  flex-direction: column;
  width: 445px;
  box-sizing: border-box;
}
.landing-page .jerry-piping-bw-oyl-3-forlrwur-6778-abi-56-lm-69-f-24-r-157-w-64-c-9-y-75-z-42 {
  background: url('../assets/images/jerry_piping_bw_oyl_3_forlrwur_6778_abi_56_lm_69_f_24_r_157_w_64_c_9_y_75_z_41.png') 50% / cover no-repeat;
  margin: 0 224.3px 15px 0;
  align-self: center;
  width: 78.9px;
  height: 50px;
}
.landing-page .container-8 {
  width: 15.9px;
  height: 14px;
}
.landing-page .quote-mark-3 {
  opacity: 0.3;
  margin: 0 16px 208px 0;
  display: flex;
  padding-right: 0.1px;
  width: 16px;
  height: 14px;
  box-sizing: border-box;
}
.landing-page .feedback-2 {
  margin-bottom: 38px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--body-16-px-regular-font-family, 'Inter');
  font-weight: var(--body-16-px-regular-font-weight, 400);
  font-size: var(--body-16-px-regular-font-size, 16px);
  line-height: var(--body-16-px-regular-line-height, 2);
  color: #000000;
}
.landing-page .jane-cooper {
  position: absolute;
  top: -28px;
  right: -40.5px;
  overflow-wrap: break-word;
  font-family: var(--subtitle-subtitle-1-font-family, 'Inter');
  font-weight: var(--subtitle-subtitle-1-font-weight, 700);
  font-size: var(--subtitle-subtitle-1-font-size, 18px);
  line-height: var(--subtitle-subtitle-1-line-height, 1.556);
  color: var(--text-gray-900, #18191F);
}
.landing-page .ceo-jpnl {
  overflow-wrap: break-word;
  font-family: var(--lead-lead-2-font-family, 'Inter');
  font-weight: var(--lead-lead-2-font-weight, 500);
  font-size: var(--lead-lead-2-font-size, 14px);
  line-height: var(--lead-lead-2-line-height, 1.714);
  color: var(--text-gray-700, #969BAB);
}
.landing-page .person-details-2 {
  position: relative;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.landing-page .feedback-person-details-2 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.landing-page .content-1 {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.landing-page .testimonial-1 {
  box-shadow: var(--dark-shadow, 0px 10px 20px 0px rgba(41, 41, 42, 0.07));
  border-radius: 8px;
  background: var(--default-white, #FFFFFF);
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  padding: 39px 0 14px 32px;
  width: fit-content;
  box-sizing: border-box;
}
.landing-page .leeve-on-branding-bw-oyl-3-fl-090-kplvrcow-9-vmwmkbvvknw-8-qajniecucqo-02 {
  background: url('../assets/images/leeve_on_branding_bw_oyl_3_fl_090_kplvrcow_9_vmwmkbvvknw_8_qajniecucqo_01.png') 50% / cover no-repeat;
  margin-right: 105.8px;
  align-self: center;
  width: 120px;
  height: 63px;
}
.landing-page .container {
  width: 15.9px;
  height: 14px;
}
.landing-page .quote-mark {
  opacity: 0.3;
  margin: 0 16px 126px 0;
  display: flex;
  padding-right: 0.1px;
  width: 16px;
  height: 14px;
  box-sizing: border-box;
}
.landing-page .feedback {
  margin-bottom: 20px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--lead-lead-1-font-family, 'Inter');
  font-weight: var(--lead-lead-1-font-weight, 400);
  font-size: var(--lead-lead-1-font-size, 18px);
  line-height: var(--lead-lead-1-line-height, 1.778);
  color: var(--text-gray-900, #18191F);
}
.landing-page .co-founder-leeve-on-branding {
  overflow-wrap: break-word;
  font-family: var(--lead-lead-2-font-family, 'Inter');
  font-weight: var(--lead-lead-2-font-weight, 500);
  font-size: var(--lead-lead-2-font-size, 14px);
  line-height: var(--lead-lead-2-line-height, 1.714);
  color: var(--text-gray-700, #969BAB);
}
.landing-page .person-details {
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.landing-page .container-8 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.landing-page .kristin-watson {
  position: absolute;
  left: 0px;
  bottom: 24px;
  overflow-wrap: break-word;
  font-family: var(--subtitle-subtitle-1-font-family, 'Inter');
  font-weight: var(--subtitle-subtitle-1-font-weight, 700);
  font-size: var(--subtitle-subtitle-1-font-size, 18px);
  line-height: var(--subtitle-subtitle-1-line-height, 1.556);
  color: var(--text-gray-900, #18191F);
}
.landing-page .feedback-person-details {
  position: relative;
  display: flex;
  box-sizing: border-box;
}
.landing-page .content-2 {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.landing-page .testimonial-2 {
  box-shadow: var(--dark-shadow, 0px 10px 20px 0px rgba(41, 41, 42, 0.07));
  border-radius: 8px;
  background: var(--default-white, #FFFFFF);
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding: 41px 0 32px 32px;
  width: fit-content;
  box-sizing: border-box;
}
.landing-page .container-36 {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  width: 445px;
  box-sizing: border-box;
}
.landing-page .container-24 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.landing-page .group-3 {
  position: relative;
  margin: 0 115px 84px 64px;
  display: flex;
  padding: 56px 0 0 95px;
  box-sizing: border-box;
}
.landing-page .section-title-1 {
  position: absolute;
  right: -23.5px;
  bottom: 0px;
  overflow-wrap: break-word;
  font-family: var(--heading-h-2-font-family, 'Inter');
  font-weight: var(--heading-h-2-font-weight, 800);
  font-size: var(--heading-h-2-font-size, 48px);
  line-height: var(--heading-h-2-line-height, 1.333);
  color: var(--text-gray-900, #18191F);
}
.landing-page .section-heading-3 {
  position: relative;
  margin-bottom: 8px;
  width: 445px;
  height: 128px;
}
.landing-page .description-1 {
  margin-right: 9.2px;
  width: 420px;
  margin-left: 80px;
  overflow-wrap: break-word;
  font-family: var(--lead-lead-1-font-family, 'Inter');
  font-weight: var(--lead-lead-1-font-weight, 400);
  font-size: var(--lead-lead-1-font-size, 18px);
  line-height: var(--lead-lead-1-line-height, 1.778);
  color: var(--text-gray-900, #18191F);
}
.landing-page .section-heading-2 {
  margin: 21px 0 19px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.landing-page .jerry-piping-bw-oyl-3-forlrwur-6778-abi-56-lm-69-f-24-r-157-w-64-c-9-y-75-z-41 {
  background: url('../assets/images/jerry_piping_bw_oyl_3_forlrwur_6778_abi_56_lm_69_f_24_r_157_w_64_c_9_y_75_z_41.png') 50% / cover no-repeat;
  width: 120px;
  height: 120px;
}
.landing-page .leeve-on-branding-bw-oyl-3-fl-090-kplvrcow-9-vmwmkbvvknw-8-qajniecucqo-01 {
  background: url('../assets/images/leeve_on_branding_bw_oyl_3_fl_090_kplvrcow_9_vmwmkbvvknw_8_qajniecucqo_01.png') 50% / cover no-repeat;
  width: 120px;
  height: 120px;
}
.landing-page .container-27 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
  box-sizing: border-box;
}
.landing-page .jrango-glasses-bw-oyl-3-fi-6-qg-2-lqwxgscqnr-759-y-3-pyk-95-f-3-j-9-jxx-0-gx-6-o-1 {
  background: url('../assets/images/jrango_glasses_bw_oyl_3_fi_6_qg_2_lqwxgscqnr_759_y_3_pyk_95_f_3_j_9_jxx_0_gx_6_o_1.png') 50% / cover no-repeat;
  margin-top: 120px;
  width: 120px;
  height: 120px;
}
.landing-page .crypto-learn-invest-bw-oyl-3-g-9-g-1-y-9-n-29-md-6-xkfxpgebbw-87-gdfbb-0-h-0-u-1-ci-681 {
  background: url('../assets/images/crypto_learn_invest_bw_oyl_3_g_9_g_1_y_9_n_29_md_6_xkfxpgebbw_87_gdfbb_0_h_0_u_1_ci_681.png') 50% / cover no-repeat;
  margin-top: 120px;
  width: 120px;
  height: 120px;
}
.landing-page .container-2 {
  display: flex;
  flex-direction: row;
  column-gap: 65px;
  width: 490px;
  box-sizing: border-box;
}
.landing-page .container-15 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1194px;
  height: fit-content;
  box-sizing: border-box;
}
.landing-page .korane-scents-bw-oyl-3-fj-4-kmwn-18-jff-792-drn-1-ep-3-txguitve-7-feafj-0-g-1 {
  background: url('../assets/images/korane_scents_bw_oyl_3_fj_4_kmwn_18_jff_792_drn_1_ep_3_txguitve_7_feafj_0_g_1.png') 50% / cover no-repeat;
  position: absolute;
  top: 10px;
  right: 185px;
  width: 120px;
  height: 120px;
}
.landing-page .nadine-ghaida-bw-oyl-3-fly-37-eqw-7-dbbqsa-9-h-4-bsh-9-g-13-xu-0-vs-5-vu-4-bchs-1 {
  background: url('../assets/images/nadine_ghaida_bw_oyl_3_fly_37_eqw_7_dbbqsa_9_h_4_bsh_9_g_13_xu_0_vs_5_vu_4_bchs_1.png') 50% / cover no-repeat;
  position: absolute;
  top: 9px;
  right: 0px;
  width: 120px;
  height: 120px;
}
.landing-page .group-4 {
  position: relative;
  display: flex;
  width: 1194px;
  box-sizing: border-box;
}
.landing-page .testimonials {
  margin: 0 104px 106px 142px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.landing-page .background-1 {
  border-radius: 16px;
  background: var(--secondary-soft-purple, #F7FAFE);
  position: absolute;
  left: 15px;
  right: 25px;
  bottom: 0px;
  height: 432px;
}
.landing-page .elements-6 {
  margin: 0 334px 40px 0;
  width: 40px;
  height: 40px;
}
.landing-page .were-here-to-make-your-website-awesome {
  margin: 0 0 40px 18px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 64px;
  line-height: 1.375;
  color: var(--text-title, #2E2E2E);
}
.landing-page .elements-5 {
  margin: 8px 0 48px 0;
  width: 40px;
  height: 40px;
}
.landing-page .vector-40 {
  width: 21.9px;
  height: 21.9px;
}
.landing-page .whatsapp {
  margin: 1.6px 10.6px 0.6px 0;
  display: flex;
  width: 21.9px;
  height: 21.9px;
  box-sizing: border-box;
}
.landing-page .get-in-touch-with-us {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  color: var(--text-white, #FFFFFF);
}
.landing-page .button-2 {
  border-radius: 8px;
  background: #B00000;
  margin-bottom: 48px;
  display: flex;
  flex-direction: row;
  padding: 12px 16.5px 12px 17.6px;
  box-sizing: border-box;
}
.landing-page .elements-7 {
  margin: 24px 0px 0 0;
  width: 72px;
  height: 72px;
}
.landing-page .container-12 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1272px;
  box-sizing: border-box;
}
.landing-page .elements-4 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1272px;
  height: fit-content;
  box-sizing: border-box;
}
.landing-page .cta {
  position: relative;
  margin: 0 93px 110px 75px;
  display: flex;
  padding-bottom: 40px;
  width: 1272px;
  box-sizing: border-box;
}
.landing-page .lemon-wares-white-logo-1500-px-wide-1 {
  background: url('../assets/images/lemon_wares_white_logo_1500_px_wide_1.png') 50% / cover no-repeat;
  margin-bottom: 16px;
  align-self: flex-start;
  width: 121px;
  height: 80px;
}
.landing-page .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-ut-aliquam-purus-sit-amet-luctus-venenatis-lectus-magna-fringilla-urna-porttitor-rhoncus-dolor-purus-non-enim-praesent-elem {
  overflow-wrap: break-word;
  font-family: var(--body-16-px-regular-font-family, 'Inter');
  font-weight: var(--body-16-px-regular-font-weight, 400);
  font-size: var(--body-16-px-regular-font-size, 16px);
  line-height: var(--body-16-px-regular-line-height, 2);
  color: var(--text-disable, #E6E6E6);
}
.landing-page .section-1 {
  display: flex;
  box-sizing: border-box;
}
.landing-page .container-5 {
  margin-right: 126.3px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.landing-page .service {
  margin-bottom: 24px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--heading-bold-heading-616-px-font-family, 'Inter');
  font-weight: var(--heading-bold-heading-616-px-font-weight, 700);
  font-size: var(--heading-bold-heading-616-px-font-size, 16px);
  line-height: var(--heading-bold-heading-616-px-line-height, 1.5);
  color: var(--text-white, #FFFFFF);
}
.landing-page .domain-1 {
  margin-bottom: 24px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--body-16-px-regular-font-family, 'Inter');
  font-weight: var(--body-16-px-regular-font-weight, 400);
  font-size: var(--body-16-px-regular-font-size, 16px);
  line-height: var(--body-16-px-regular-line-height, 2);
  color: var(--text-disable, #E6E6E6);
}
.landing-page .shared-hosting {
  margin-bottom: 24px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--body-16-px-regular-font-family, 'Inter');
  font-weight: var(--body-16-px-regular-font-weight, 400);
  font-size: var(--body-16-px-regular-font-size, 16px);
  line-height: var(--body-16-px-regular-line-height, 2);
  color: var(--text-disable, #E6E6E6);
}
.landing-page .cloud-hosting {
  margin: 0 9.4px 24px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--body-16-px-regular-font-family, 'Inter');
  font-weight: var(--body-16-px-regular-font-weight, 400);
  font-size: var(--body-16-px-regular-font-size, 16px);
  line-height: var(--body-16-px-regular-line-height, 2);
  color: var(--text-disable, #E6E6E6);
}
.landing-page .private-hosting {
  margin-right: 1px;
  overflow-wrap: break-word;
  font-family: var(--body-16-px-regular-font-family, 'Inter');
  font-weight: var(--body-16-px-regular-font-weight, 400);
  font-size: var(--body-16-px-regular-font-size, 16px);
  line-height: var(--body-16-px-regular-line-height, 2);
  color: var(--text-disable, #E6E6E6);
}
.landing-page .section-2 {
  margin: 16px 120.4px 24px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.landing-page .hosting-1 {
  margin-bottom: 24px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--heading-bold-heading-616-px-font-family, 'Inter');
  font-weight: var(--heading-bold-heading-616-px-font-weight, 700);
  font-size: var(--heading-bold-heading-616-px-font-size, 16px);
  line-height: var(--heading-bold-heading-616-px-line-height, 1.5);
  color: var(--text-white, #FFFFFF);
}
.landing-page .cheap-hosting {
  margin-bottom: 24px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--body-16-px-regular-font-family, 'Inter');
  font-weight: var(--body-16-px-regular-font-weight, 400);
  font-size: var(--body-16-px-regular-font-size, 16px);
  line-height: var(--body-16-px-regular-line-height, 2);
  color: var(--text-disable, #E6E6E6);
}
.landing-page .hosting-wordpress {
  margin-bottom: 24px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--body-16-px-regular-font-family, 'Inter');
  font-weight: var(--body-16-px-regular-font-weight, 400);
  font-size: var(--body-16-px-regular-font-size, 16px);
  line-height: var(--body-16-px-regular-line-height, 2);
  color: var(--text-disable, #E6E6E6);
}
.landing-page .email-hosting {
  margin-bottom: 24px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--body-16-px-regular-font-family, 'Inter');
  font-weight: var(--body-16-px-regular-font-weight, 400);
  font-size: var(--body-16-px-regular-font-size, 16px);
  line-height: var(--body-16-px-regular-line-height, 2);
  color: var(--text-disable, #E6E6E6);
}
.landing-page .hosting-unlimited {
  margin-right: 9.5px;
  overflow-wrap: break-word;
  font-family: var(--body-16-px-regular-font-family, 'Inter');
  font-weight: var(--body-16-px-regular-font-weight, 400);
  font-size: var(--body-16-px-regular-font-size, 16px);
  line-height: var(--body-16-px-regular-line-height, 2);
  color: var(--text-disable, #E6E6E6);
}
.landing-page .section-3 {
  margin: 16px 120px 24px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.landing-page .company {
  margin: 0 10px 24px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: var(--heading-bold-heading-616-px-font-family, 'Inter');
  font-weight: var(--heading-bold-heading-616-px-font-weight, 700);
  font-size: var(--heading-bold-heading-616-px-font-size, 16px);
  line-height: var(--heading-bold-heading-616-px-line-height, 1.5);
  color: var(--text-white, #FFFFFF);
}
.landing-page .about-1 {
  margin-bottom: 24px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--body-16-px-regular-font-family, 'Inter');
  font-weight: var(--body-16-px-regular-font-weight, 400);
  font-size: var(--body-16-px-regular-font-size, 16px);
  line-height: var(--body-16-px-regular-line-height, 2);
  color: var(--text-disable, #E6E6E6);
}
.landing-page .career {
  margin-bottom: 24px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--body-16-px-regular-font-family, 'Inter');
  font-weight: var(--body-16-px-regular-font-weight, 400);
  font-size: var(--body-16-px-regular-font-size, 16px);
  line-height: var(--body-16-px-regular-line-height, 2);
  color: var(--text-disable, #E6E6E6);
}
.landing-page .contact-us {
  overflow-wrap: break-word;
  font-family: var(--body-16-px-regular-font-family, 'Inter');
  font-weight: var(--body-16-px-regular-font-weight, 400);
  font-size: var(--body-16-px-regular-font-size, 16px);
  line-height: var(--body-16-px-regular-line-height, 2);
  color: var(--text-disable, #E6E6E6);
}
.landing-page .section-4 {
  margin: 16px 120.1px 80px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.landing-page .help {
  margin-bottom: 24px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--heading-bold-heading-616-px-font-family, 'Inter');
  font-weight: var(--heading-bold-heading-616-px-font-weight, 700);
  font-size: var(--heading-bold-heading-616-px-font-size, 16px);
  line-height: var(--heading-bold-heading-616-px-line-height, 1.5);
  color: var(--text-white, #FFFFFF);
}
.landing-page .faq {
  margin-bottom: 24px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--body-16-px-regular-font-family, 'Inter');
  font-weight: var(--body-16-px-regular-font-weight, 400);
  font-size: var(--body-16-px-regular-font-size, 16px);
  line-height: var(--body-16-px-regular-line-height, 2);
  color: var(--text-disable, #E6E6E6);
}
.landing-page .help-support {
  overflow-wrap: break-word;
  font-family: var(--body-16-px-regular-font-family, 'Inter');
  font-weight: var(--body-16-px-regular-font-weight, 400);
  font-size: var(--body-16-px-regular-font-size, 16px);
  line-height: var(--body-16-px-regular-line-height, 2);
  color: var(--text-disable, #E6E6E6);
}
.landing-page .section-5 {
  margin: 16px 0px 136px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.landing-page .container-10 {
  margin-bottom: 72px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.landing-page .built-by-jeremiah-with-love-in-lagos-copyright-2021 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: var(--body-16-px-regular-font-family, 'Inter');
  font-weight: var(--body-16-px-regular-font-weight, 400);
  font-size: var(--body-16-px-regular-font-size, 16px);
  line-height: var(--body-16-px-regular-line-height, 2);
  color: var(--text-white, #FFFFFF);
}
.built-by-jeremiah-with-love-in-lagos-copyright-2021-sub2 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.333;
}
.landing-page .container-18 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.landing-page .vector-39 {
  width: 20.9px;
  height: 18.2px;
}
.landing-page .heart {
  position: absolute;
  left: 279.5px;
  bottom: 86.8px;
  display: flex;
  width: 20.9px;
  height: 18.2px;
  box-sizing: border-box;
}
.landing-page .footer {
  background: #B00000;
  position: relative;
  display: flex;
  padding: 64px 115.8px 80px 104px;
  box-sizing: border-box;
}
.landing-page {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding-top: 41px;
  width: 1440px;
  box-sizing: border-box;
}
